    @import "normalize";
    @import "reset";
    $width: 1920px;
    body {
        max-width: $width;
        margin: 0 auto;
    }
    
    @mixin text_1 {
        font-size: 14px;
        font-family: "Montserrat";
        line-height: 1.2;
        text-align: left;
    }
    
    @mixin heading_section {
        font-size: 30px;
        font-family: "Raleway";
        color: #555555;
        font-weight: bold;
        line-height: 1.2;
        max-width: 757px;
    }
    
    @mixin text_heading_section {
        font-size: 16px;
        font-family: "Montserrat";
        color: #555555;
        line-height: 1.75;
    }
    
    @mixin text_section {
        font-size: 16px;
        font-family: "Montserrat";
        color: rgb(140, 140, 140);
        line-height: 1.75;
    }
    
    @mixin text_footer {
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(85, 85, 85);
        line-height: 1.714;
    }
    
    .header {
        max-width: 100%;
        min-height: 1025px;
        background-image: url(../img/header_image.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }
    
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 0 0 0;
    }
    
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        width: 181px;
        &:hover {
            color: #c7b299;
            transition: 0.3s linear;
        }
    }
    
    .logo_text {
        font-size: 34px;
        font-family: "Raleway";
        line-height: 1.2;
    }
    
    .logo_image {
        fill: currentColor;
    }
    
    .nav-menu {
        margin: 0 0 0 219px;
    }
    
    .nav-menu-list {
        @include text_1;
        color: #fff;
        padding: 0 0 0 30px;
        transition: 0.3s linear;
        &:first-child {
            padding: 0px;
        }
        &:hover {
            color: #c7b299;
        }
    }
    
    .cart {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../img/icon-cart.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .nav_action {
        padding: 0 0 0 60px;
        display: flex;
    }
    
    .nav_search {
        padding: 0 0 0 28px;
    }
    
    .search_nav {
        width: 30px;
        height: 30px;
        outline: none;
        border: none;
        background-image: url(../img/icon-search.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        @include text_1;
        color: #fff;
        &:focus {
            border: 1px solid #fff;
            width: 200px;
            transition: width 1s ease-out;
            background-position: right;
        }
    }
    
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 309px 150px 0 150px;
    }
    
    .slider_arrow_left {
        display: block;
        width: 40px;
        height: 73px;
        position: relative;
        &:after {
            content: "";
            display: inline-block;
            width: 52px;
            height: 52px;
            border-top: 2px solid #92908f;
            border-right: 2px solid #92908f;
            transform: rotate(-135deg);
        }
        &:hover:after {
            border-top: 2px solid #c7b299;
            border-right: 2px solid #c7b299;
        }
    }
    
    .slider_arrow_right {
        display: block;
        width: 40px;
        height: 73px;
        position: relative;
        &:after {
            content: "";
            display: inline-block;
            width: 52px;
            height: 52px;
            border-top: 2px solid #92908f;
            border-right: 2px solid #92908f;
            transform: rotate(45deg);
        }
        &:hover:after {
            border-top: 2px solid #c7b299;
            border-right: 2px solid #c7b299;
        }
    }
    
    .title_text_unique {
        font-size: 36px;
        font-family: "Raleway";
        color: #fff;
        line-height: 1.2;
        text-align: center;
        max-width: 589px;
    }
    
    .title_text_portfolio {
        font-size: 52px;
        font-family: "Raleway";
        color: #fff;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        max-width: 589px;
    }
    
    .title_text_text {
        font-size: 16px;
        font-family: "Montserrat";
        color: #fff;
        line-height: 1.5;
        text-align: center;
        max-width: 562px;
    }
    
    .get_btn {
        display: flex;
        text-align: center;
        color: #fff;
        width: 170px;
        min-height: 53px;
        padding: 5px 20px;
        @include text_1;
        text-transform: uppercase;
        margin: auto;
        border: none;
        border-radius: 3px;
        background-color: #998675;
        outline: none;
        margin-top: 50px;
        &:hover {
            background-color: #c7b299;
        }
    }
    
    .text_btn {
        margin: auto;
    }
    
    .pagination_header {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .pagination_item {
        display: block;
        width: 25px;
        height: 25px;
        background-color: #8c8d90;
        border-radius: 50%;
        border: 2px solid transparent;
        margin: 0 10px 0 0;
        position: relative;
        top: 280px;
        &:last-child {
            margin: 0;
        }
        &:hover {
            background-color: transparent;
            border: 2px solid #d3c1ad;
            transform: scale(1.2);
        }
    }
    /* Section_1 */
    
    .section_1 {
        max-width: 100%;
        min-height: 100%;
    }
    
    .services {
        padding-top: 90px;
        display: flex;
        justify-content: center;
    }
    
    .web,
    .devolopment,
    .custom,
    .marketing {
        text-align: center;
        max-width: 266px;
        align-self: flex-end;
        color: #555555;
        padding: 0 0 0 30px;
        &:hover {
            color: #c7b299;
            transition: 0.3s linear;
        }
        &:after {
            content: "";
            position: relative;
            top: 35px;
            display: block;
            width: 70px;
            height: 3px;
            background-color: #555555;
            margin: 0 auto;
            align-self: flex-end;
        }
        &:hover:after {
            background-color: #c7b299;
        }
        &:first-child {
            padding: 0;
        }
    }
    
    .heading_service {
        font-size: 22px;
        font-family: "Raleway";
        font-weight: bold;
        line-height: 1.2;
    }
    
    .text_heading_service {
        font-size: 14px;
        font-family: "Montserrat";
        line-height: 1.714;
        max-width: 266px;
        min-height: 62px;
    }
    
    .image_service {
        fill: currentColor;
    }
    
    .text_section_1 {
        background-color: #fbfaf8;
        margin-top: 200px;
        display: grid;
        justify-content: center;
        padding-top: 60px;
    }
    
    .heading_section_1 {
        @include heading_section;
        text-align: center;
    }
    
    .text_heading_section_1 {
        @include text_heading_section;
        text-align: center;
        max-width: 757px;
        min-height: 43px;
        padding-top: 30px;
    }
    
    .images_section_1 {
        max-width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 20px 10px;
        background-color: #fbfaf8;
    }
    
    .image_section-1 {
        position: absolute;
        z-index: 1;
        top: 30px;
        left: 70px;
    }
    
    .image_section-2 {
        z-index: 2;
    }
    
    .image_section-3 {
        position: absolute;
        z-index: 1;
        top: 30px;
        right: 70px;
    }
    /* Aside_1 */
    
    .aside_1 {
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        min-height: 102px;
        background: -webkit-linear-gradient(top right #211b19, #4e3427);
        background: -webkit-radial-gradient(top left, #211b19, #4e3427);
        position: relative;
        z-index: 2;
        bottom: 20px;
        padding-top: 48px;
    }
    
    .first_text_aside_1 {
        font-size: 28px;
        font-family: "Raleway";
        color: #fff;
        line-height: 1.2;
        span {
            color: rgb(199, 178, 153);
        }
    }
    
    .second_text_aside_1 {
        font-size: 18px;
        font-family: "Montserrat";
        color: rgb(97, 88, 85);
        line-height: 1.2;
        position: absolute;
    }
    
    .btn_aside_1 {
        display: flex;
        width: 170px;
        height: 50px;
        background-color: #998675;
        border-radius: 5px;
        outline: none;
        span {
            font-size: 14px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.643;
            margin: auto;
        }
        &:hover {
            background-color: #000000;
        }
    }
    /* Section_2 */
    
    .section_2 {
        display: grid;
        max-width: 100%;
        min-height: 100%;
    }
    
    .heading_section_2 {
        display: block;
        margin: auto;
        @include heading_section;
        text-align: center;
        max-width: 766px;
    }
    
    .text_heading_section_2 {
        display: block;
        margin: auto;
        @include text_heading_section;
        max-width: 766px;
        min-height: 60px;
        text-align: center;
    }
    
    .buttons_section_2 {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }
    
    .btn_section_2 {
        padding: 10px 20px;
        font-size: 14px;
        font-family: "Montserrat";
        color: #555555;
        line-height: 1.5;
        text-transform: uppercase;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        outline: none;
        background-color: #fff;
        margin: 0 0 0 10px;
        &:focus {
            background-color: #998675;
            outline: none;
            color: #fff;
        }
        &:hover {
            background-color: #998675;
            outline: none;
            color: #fff;
        }
        &:first-child {
            margin: 0;
        }
    }
    
    .images_articles {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        justify-content: center;
        row-gap: 30px;
        margin-top: 40px;
    }
    
    .image_article {
        width: 370px;
        position: relative;
        &:hover .article_btn_link {
            display: block;
        }
        &:hover .article_btn_search {
            display: block;
        }
        &:hover .article_photo {
            filter: brightness(30%);
        }
        &:hover .article_text {
            background-color: #362f2d;
        }
        &:hover .article_text:before {
            border-bottom: 10px solid #362f2d;
        }
    }
    
    .article_photo {
        display: block;
        width: 100%;
    }
    
    .article_text {
        max-width: 100%;
        position: relative;
        background-color: #fbfaf8;
    }
    
    .article_text:before {
        content: "";
        border: 10px solid transparent;
        border-bottom: 10px solid #fbfaf8;
        position: absolute;
        top: -20px;
        left: 19px;
    }
    
    .article_text_title {
        display: block;
        text-align: center;
        padding: 10px 10px 0 10px;
        font-size: 20px;
        font-family: "Raleway";
        color: rgb(199, 178, 153);
        line-height: 1.2;
    }
    
    .article_txt {
        display: block;
        text-align: center;
        padding: 5px;
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(209, 209, 209);
        line-height: 1.429;
    }
    
    .article_btn_link,
    .article_btn_search {
        width: 20px;
        height: 20px;
        display: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 35%
    }
    
    .article_btn_link {
        left: 35%;
        width: 25px;
        height: 25px;
    }
    
    .btn_link {
        fill: #fff;
        &:hover {
            fill: rgb(199, 178, 153);
        }
    }
    
    .article_btn_search {
        left: 55%;
        width: 25px;
        height: 24px;
    }
    
    .btn_search {
        fill: #fff;
        &:hover {
            fill: rgb(199, 178, 153);
        }
    }
    
    .btn_load {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }
    /* Section_3 */
    
    .section_3 {
        max-width: 100%;
        min-height: 100%;
        margin-top: 80px;
    }
    
    .video_section_3 {
        overflow: hidden;
        position: relative;
        padding-top: 45%;
        background: rgba(0, 0, 0, 0.6);
        padding-top: 45%;
    }
    
    .bgvideo_section_3 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    
    .btn_play {
        width: 100px;
        height: 100px;
        display: flex;
        margin: auto;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .icon_play {
        margin: auto;
        fill: #fff;
        &:hover {
            fill: #000000;
        }
    }
    
    .txt_section {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        text-align: center;
        margin-top: 225px;
    }
    
    .heading_section_3 {
        font-size: 30px;
        font-family: "Raleway";
        color: #fff;
        line-height: 1.2;
        max-width: 552px;
        margin: auto;
        margin-top: 44px;
    }
    
    .text_section_3 {
        @include text_section;
        text-align: center;
        max-width: 552px;
        min-height: 43px;
        margin: auto;
        margin-top: 30px;
    }
    
    .time_section_3 {
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(199, 178, 153);
        line-height: 1.714;
    }
    /* Section_4 */
    
    .section_4 {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    
    .txt_section_4 {
        margin-top: 115px;
        margin-left: 29px;
    }
    
    .heading_section_4 {
        font-size: 30px;
        font-family: "Raleway";
        color: rgb(85, 85, 85);
        font-weight: bold;
        line-height: 1.2;
    }
    
    .text_section_4 {
        @include text_section;
        max-width: 657px;
        max-height: 100%;
        text-align: left;
        margin-top: 40px;
    }
    
    .list_section_4 {
        margin-left: 40px;
        margin-top: 50px;
    }
    
    .list_item_section_4 {
        font-size: 16px;
        font-family: "Montserrat";
        color: rgb(140, 140, 140);
        line-height: 2;
    }
    
    .list_section_4>.list_item_section_4 {
        padding-left: 50px;
        position: relative;
        &:before {
            content: '';
            background-image: url(../img/section_4_before.png);
            position: absolute;
            background-position: center;
            background-size: cover;
            top: 0;
            left: 0;
            color: black;
            width: 29px;
            height: 29px;
        }
    }
    /* Section 5 */
    
    .section_5 {
        max-width: 100%;
        min-height: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        background: -webkit-linear-gradient(top right #211b19, #4e3427);
        background: -webkit-radial-gradient(top left, #211b19, #4e3427);
    }
    
    .fig_item_section_5 {
        width: 152px;
        height: 171px;
        text-align: center;
        margin: 0 35px;
        &:after {
            content: "";
            position: relative;
            top: 30px;
            display: block;
            width: 30px;
            height: 2px;
            background-color: #fff;
            margin: 0 auto;
            align-self: flex-end;
        }
        &:first-child,
        &:last-child {
            margin: 0;
        }
    }
    
    .txt_item_section_5 {
        display: grid;
        justify-items: center;
    }
    
    .numbers_item_section_5 {
        font-size: 48px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        line-height: 0.75;
        margin-top: 32px;
    }
    
    .text_item_section_5 {
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(199, 178, 153);
        text-transform: uppercase;
        line-height: 1.429;
        margin-top: 22px;
    }
    /* Section 6 */
    
    .section_6 {
        max-width: 100%;
        margin-top: 80px;
    }
    
    .heading_section_6 {
        font-size: 30px;
        font-family: "Raleway";
        color: rgb(85, 85, 85);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }
    
    .text_section_6 {
        padding-top: 30px;
        font-size: 16px;
        font-family: "Montserrat";
        color: rgb(140, 140, 140);
        line-height: 1.75;
        text-align: center;
        max-width: 753px;
        margin: auto;
        display: flex;
    }
    
    .images_articles_6 {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin-top: 26px;
    }
    
    .article_section_6 {
        max-width: 370px;
        min-height: 270px;
        position: relative;
        margin: 0 20px;
        border: 1px solid #f8f8f8;
        &:hover {
            background-color: #362f2d;
        }
        &:hover .image_article_section_6 {
            filter: brightness(60%);
        }
        &:hover .txt_article_image_article {
            background-color: #c7b299;
        }
        &:hover .txt_2_article_image_article {
            background-color: #a48d72;
        }
        &:hover .pagination_image_article_6 {
            visibility: hidden;
        }
        &:hover .text_article_section_6 {
            color: #bda992;
        }
        &:hover .text_2_article_section_6 {
            color: #fff;
        }
    }
    
    .pagination_image_article_6 {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .heading_article_image {
        width: 50px;
        height: 60px;
        position: absolute;
        text-align: center;
        top: 23px;
        left: 23px;
        z-index: 3;
    }
    
    .txt_article_image_article {
        display: block;
        font-size: 24px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        line-height: 0.833;
        text-align: center;
        background-color: #363636;
        padding: 5px 0 5px 0;
        border-radius: 5px 5px 0 0;
    }
    
    .txt_2_article_image_article {
        display: block;
        font-size: 12px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 1.667;
        background-color: #252525;
        padding: 5px 0 5px 0;
        border-radius: 0 0 5px 5px;
    }
    
    .pagination_item_article_6 {
        display: block;
        width: 11px;
        height: 11px;
        bottom: 40px;
        background-color: #b7b8bb;
        border-radius: 50%;
        border: 2px solid transparent;
        margin: 0 10px 0 0;
        position: relative;
        &:last-child {
            margin: 0;
        }
        &:hover {
            background-color: transparent;
            border: 2px solid #d3c1ad;
            transform: scale(1.2);
        }
    }
    
    .txt_after_article_6 {
        padding: 10px 0 0 20px;
        position: relative;
    }
    
    .text_article_section_6 {
        font-size: 20px;
        font-family: "Raleway";
        color: rgb(85, 85, 85);
        line-height: 1.2;
    }
    
    .text_2_article_section_6 {
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(140, 140, 140);
        line-height: 1.571;
        text-align: left;
        padding-top: 10px;
    }
    
    .btn_article_section_6 {
        display: flex;
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(199, 178, 153);
        line-height: 1.429;
        padding-top: 10px;
        &:after {
            content: "\002023";
            position: relative;
            left: 10px;
            display: block;
        }
    }
    
    .btns_section_6 {
        display: flex;
        justify-content: center;
    }
    
    .btn_section_6 {
        width: 22px;
        height: 22px;
        margin: 20px 10px 60px 10px;
    }
    
    .btun_section_6 {
        fill: #d1d1d1;
        &:hover {
            fill: #cfbda8;
        }
    }
    /* Section 7 */
    
    .section_7 {
        background-image: url(../img/photo_bg_section_7.jpg);
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 489px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .logo_section_7 {
        margin: 0 60px;
    }
    /* Footer */
    
    .footer_1 {
        background-color: #191919;
        max-width: 100%;
        min-height: 508px;
        display: flex;
        justify-content: center;
    }
    
    .text_footer {
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(85, 85, 85);
        line-height: 1.714;
        width: 258px;
    }
    
    .footer_read {
        @include text_footer;
        color: #fff;
    }
    
    .post_heading {
        margin: 0px 20px;
        &:hover .text_footer {
            color: rgb(199, 178, 153);
        }
    }
    
    .posts {
        display: block;
        max-width: 271px;
        margin-top: 25px;
        border-bottom: 1px solid #252525;
        padding-bottom: 25px;
        &:first-child {
            margin: 0;
        }
        &:last-child {
            border: none;
            padding-bottom: 0;
        }
        &:hover .text_coloumn_footer {
            color: rgb(199, 178, 153);
        }
        &:hover .txt_coloumn_footer {
            color: #fff;
        }
    }
    
    .coloumn_heading_footer {
        display: flex;
        align-items: flex-end;
        height: 60px;
        margin-bottom: 30px;
    }
    
    .heading_footer_coloumn {
        font-size: 24px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
    }
    
    .txt_coloumn_footer {
        font-size: 12px;
        font-family: "Montserrat";
        color: rgb(54, 54, 54);
        line-height: 1.667;
    }
    
    .text_coloumn_footer {
        @include text_footer;
        span {
            color: #00bff3;
        }
    }
    
    .images_post_heading {
        max-width: 350px;
    }
    
    .image_post_footer {
        margin: 5px 5px;
    }